/*body*/
body {
  margin: 0;
}
html body {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(3, 3, 104);
}

header {
  grid-area: hd;
  align-items: center;
}

.headerImage {
  height: 10em;
  width: auto;
}

h1 {
  grid-area: h1;
  text-align: center;
  color: #fefefe;
}

h3 {
  text-align: center;
  color: #fefefe;
}

button {
  color: #fefefe;
  background-color: rgb(3, 3, 104);
  font-size: 1.2vw;
}

label {
  grid-area: label;
  align-items: flex-end;
  color: #fefefe;
}

footer > label {
  grid-area: label;
  padding-left: 70%;
  color: #fefefe;
}

h2 {
  grid-area: h2;
  text-align: center;
  color: #fefefe;
}

div {
  grid-area: div;
}

#filterContainer > label {
  /* grid-area: fc; */
  font-size: 20fr;
}

#sortContainer > label {
  /* grid-area: sc; */
  font-size: 20fr;
}

#fsContainer {
  grid-area: fs;
}

table {
  grid-area: table;
}

td {
  text-align: center;
  color: black;
  padding: 2vw;
  font-size: 1.2vw;
  font-weight: 700;
  outline-style: dashed;
  outline-color: rgb(12, 12, 71);
  background-color: white;
}

th {
  text-align: center;
  color: #fefefe;
  font-size: 1.5vw;
  background-color: rgb(12, 12, 71);
  padding: 1vw;
}

@media only screen and (min-width: 700px) {
  header {
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    grid-template-areas: ". h1 label";
  }
  main {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    grid-template-areas:
      "h2 h2"
      "fs table";
  }
  modalImage {
    display: grid;
    grid-template-columns: (1fr);
    grid-template-areas: modalEmblem;
  }
}

/* modal */
.hide {
  display: none;
}

.modalBackground {
  position: fixed;
  z-index: 10;
  left: 25%;
  top: 4%;
  /* width: 50vw;
  height: 30vw; */
  background-color: rgba(0, 0, 0, 0.7);
}

.modalContent {
  z-index: 20;
  background-color: #0d0c6d;
  border: 1px solid #000000;
  color: #fefefe;
  margin: 1em;
  padding: 2em;
}

/* .modalImages {

} */

.modalImage {
  grid-area: modalImage;
  height: 20vw;
  width: auto;
  z-index: 25;
  top: 5vw;
  left: 5vw;
}

.modalEmblem {
  grid-area: modalEmblem;
  height: 5vw;
  position: absolute;
  width: auto;
  z-index: 26;
  top: 16vw;
  left: 16vw;
}

.modalColor {
  height: 20px;
  width: 100px;
}

.Slytherin {
  background-color: green;
  height: 10px;
  width: 200px;
  position: absolute;
  left: 13.5vw;
}

.Gryffindor {
  background-color: red;
  height: 10px;
  width: 200px;
  position: absolute;
  left: 13.5vw;
}

.Hufflepuff {
  background-color: yellow;
  height: 10px;
  width: 200px;
  position: absolute;
  left: 13.5vw;
}

.Ravenclaw {
  background-color: blue;
  height: 10px;
  width: 200px;
  position: absolute;
  left: 13.5vw;
}

#Slytherin {
  background-image: url(./emblems/Slytherin_color.png);
}

#Gryffindor {
  background-image: url(./emblems/Gryffindor_color.png);
}

#Hufflepuff {
  background-image: url(./emblems/Hufflepuff_color.png);
}

#Ravenclaw {
  background-image: url(./emblems/Ravenclaw_color.png);
}

.modalClose {
  position: absolute;
  right: 10%;
}

.hover:hover {
  background-color: beige;
}

th > button {
  background: none;
  border: none;
  outline: inherit;
  font: inherit;
  cursor: pointer;
}

p {
  font-size: 1.5vw;
  margin-top: 0.8vw;
  margin-bottom: 0.8vw;
}
